<a href="https://colab.research.google.com/github/arpitmalhotra009/Data_Warehousing/blob/main/Data_Warehousing_using_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Datawarehousing with MySQL - StartUP

based on the codes available with the book Dimensional Datawarehousing with MySQL https://brainysoftware.com/9780975212820 [archive](https://drive.google.com/open?id=1BeIC5uEMGu85PADHRN-Zpn3lmZ3ihrkE)

# Install MySQL

In [ ]:
!apt -y install mysql-server

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  libcgi-fast-perl libcgi-pm-perl libencode-locale-perl libevent-core-2.1-6
  libfcgi-perl libhtml-parser-perl libhtml-tagset-perl libhtml-template-perl
  libhttp-date-perl libhttp-message-perl libio-html-perl
  liblwp-mediatypes-perl libtimedate-perl liburi-perl mysql-client-5.7
  mysql-client-core-5.7 mysql-server-5.7 mysql-server-core-5.7
Suggested packages:
  libdata-dump-perl libipc-sharedcache-perl libwww-perl mailx tinyca
The following NEW packages will be installed:
  libcgi-fast-perl libcgi-pm-perl libencode-locale-perl libevent-core-2.1-6
  libfcgi-perl libhtml-parser-perl libhtml-tagset-perl libhtml-template-perl
  libhttp-date-perl libhttp-message-perl libio-html-perl
  liblwp-mediatypes-perl libtimedate-perl liburi-perl mysql-client-5.7
  mysql-client-core-5.7 mysql-server mysql-server-5.7 mysql-server-core-5.7
0 upgraded, 19 newly installed, 0 to remove and 21 not upgraded.
Need to get 19.7 MB of archives.
After this operation, 157 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 mysql-client-core-5.7 amd64 5.7.31-0ubuntu0.18.04.1 [6,653 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 mysql-client-5.7 amd64 5.7.31-0ubuntu0.18.04.1 [1,948 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 mysql-server-core-5.7 amd64 5.7.31-0ubuntu0.18.04.1 [7,452 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic/main amd64 libevent-core-2.1-6 amd64 2.1.8-stable-4build1 [85.9 kB]
Get:5 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 mysql-server-5.7 amd64 5.7.31-0ubuntu0.18.04.1 [2,931 kB]
Get:6 http://archive.ubuntu.com/ubuntu bionic/main amd64 libhtml-tagset-perl all 3.20-3 [12.1 kB]
Get:7 http://archive.ubuntu.com/ubuntu bionic/main amd64 liburi-perl all 1.73-1 [77.2 kB]
Get:8 http://archive.ubuntu.com/ubuntu bionic/main amd64 libhtml-parser-perl amd64 3.72-3build1 [85.9 kB]
Get:9 http://archive.ubuntu.com/ubuntu bionic/main amd64 libcgi-pm-perl all 4.38-1 [185 kB]
Get:10 http://archive.ubuntu.com/ubuntu bionic/main amd64 libfcgi-perl amd64 0.78-2build1 [32.8 kB]
Get:11 http://archive.ubuntu.com/ubuntu bionic/main amd64 libcgi-fast-perl all 1:2.13-1 [9,940 B]
Get:12 http://archive.ubuntu.com/ubuntu bionic/main amd64 libencode-locale-perl all 1.05-1 [12.3 kB]
Get:13 http://archive.ubuntu.com/ubuntu bionic/main amd64 libhtml-template-perl all 2.97-1 [59.0 kB]
Get:14 http://archive.ubuntu.com/ubuntu bionic/main amd64 libtimedate-perl all 2.3000-2 [37.5 kB]
Get:15 http://archive.ubuntu.com/ubuntu bionic/main amd64 libhttp-date-perl all 6.02-1 [10.4 kB]
Get:16 http://archive.ubuntu.com/ubuntu bionic/main amd64 libio-html-perl all 1.001-1 [14.9 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic/main amd64 liblwp-mediatypes-perl all 6.02-1 [21.7 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic/main amd64 libhttp-message-perl all 6.14-1 [72.1 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 mysql-server all 5.7.31-0ubuntu0.18.04.1 [9,948 B]
Fetched 19.7 MB in 3s (7,819 kB/s)
Preconfiguring packages ...
Selecting previously unselected package mysql-client-core-5.7.
(Reading database ... 144611 files and directories currently installed.)
Preparing to unpack .../00-mysql-client-core-5.7_5.7.31-0ubuntu0.18.04.1_amd64.deb ...
Unpacking mysql-client-core-5.7 (5.7.31-0ubuntu0.18.04.1) ...
Selecting previously unselected package mysql-client-5.7.
Preparing to unpack .../01-mysql-client-5.7_5.7.31-0ubuntu0.18.04.1_amd64.deb ...
Unpacking mysql-client-5.7 (5.7.31-0ubuntu0.18.04.1) ...
Selecting previously unselected package mysql-server-core-5.7.
Preparing to unpack .../02-mysql-server-core-5.7_5.7.31-0ubuntu0.18.04.1_amd64.deb ...
Unpacking mysql-server-core-5.7 (5.7.31-0ubuntu0.18.04.1) ...
Selecting previously unselected package libevent-core-2.1-6:amd64.
Preparing to unpack .../03-libevent-core-2.1-6_2.1.8-stable-4build1_amd64.deb ...
Unpacking libevent-core-2.1-6:amd64 (2.1.8-stable-4build1) ...
Selecting previously unselected package mysql-server-5.7.
Preparing to unpack .../04-mysql-server-5.7_5.7.31-0ubuntu0.18.04.1_amd64.deb ...
Unpacking mysql-server-5.7 (5.7.31-0ubuntu0.18.04.1) ...
Selecting previously unselected package libhtml-tagset-perl.
Preparing to unpack .../05-libhtml-tagset-perl_3.20-3_all.deb ...
Unpacking libhtml-tagset-perl (3.20-3) ...
Selecting previously unselected package liburi-perl.
Preparing to unpack .../06-liburi-perl_1.73-1_all.deb ...
Unpacking liburi-perl (1.73-1) ...
Selecting previously unselected package libhtml-parser-perl.
Preparing to unpack .../07-libhtml-parser-perl_3.72-3build1_amd64.deb ...
Unpacking libhtml-parser-perl (3.72-3build1) ...
Selecting previously unselected package libcgi-pm-perl.
Preparing to unpack .../08-libcgi-pm-perl_4.38-1_all.deb ...
Unpacking libcgi-pm-perl (4.38-1) ...
Selecting previously unselected package libfcgi-perl.
Preparing to unpack .../09-libfcgi-perl_0.78-2build1_amd64.deb ...
Unpacking libfcgi-perl (0.78-2build1) ...
Selecting previously unselected package libcgi-fast-perl.
Preparing to unpack .../10-libcgi-fast-perl_1%3a2.13-1_all.deb ...
Unpacking libcgi-fast-perl (1:2.13-1) ...
Selecting previously unselected package libencode-locale-perl.
Preparing to unpack .../11-libencode-locale-perl_1.05-1_all.deb ...
Unpacking libencode-locale-perl (1.05-1) ...
Selecting previously unselected package libhtml-template-perl.
Preparing to unpack .../12-libhtml-template-perl_2.97-1_all.deb ...
Unpacking libhtml-template-perl (2.97-1) ...
Selecting previously unselected package libtimedate-perl.
Preparing to unpack .../13-libtimedate-perl_2.3000-2_all.deb ...
Unpacking libtimedate-perl (2.3000-2) ...
Selecting previously unselected package libhttp-date-perl.
Preparing to unpack .../14-libhttp-date-perl_6.02-1_all.deb ...
Unpacking libhttp-date-perl (6.02-1) ...
Selecting previously unselected package libio-html-perl.
Preparing to unpack .../15-libio-html-perl_1.001-1_all.deb ...
Unpacking libio-html-perl (1.001-1) ...
Selecting previously unselected package liblwp-mediatypes-perl.
Preparing to unpack .../16-liblwp-mediatypes-perl_6.02-1_all.deb ...
Unpacking liblwp-mediatypes-perl (6.02-1) ...
Selecting previously unselected package libhttp-message-perl.
Preparing to unpack .../17-libhttp-message-perl_6.14-1_all.deb ...
Unpacking libhttp-message-perl (6.14-1) ...
Selecting previously unselected package mysql-server.
Preparing to unpack .../18-mysql-server_5.7.31-0ubuntu0.18.04.1_all.deb ...
Unpacking mysql-server (5.7.31-0ubuntu0.18.04.1) ...
Setting up libhtml-tagset-perl (3.20-3) ...
Setting up libevent-core-2.1-6:amd64 (2.1.8-stable-4build1) ...
Setting up libencode-locale-perl (1.05-1) ...
Setting up mysql-server-core-5.7 (5.7.31-0ubuntu0.18.04.1) ...
Setting up libtimedate-perl (2.3000-2) ...
Setting up libio-html-perl (1.001-1) ...
Setting up liblwp-mediatypes-perl (6.02-1) ...
Setting up liburi-perl (1.73-1) ...
Setting up libhtml-parser-perl (3.72-3build1) ...
Setting up libcgi-pm-perl (4.38-1) ...
Setting up mysql-client-core-5.7 (5.7.31-0ubuntu0.18.04.1) ...
Setting up libfcgi-perl (0.78-2build1) ...
Setting up libhttp-date-perl (6.02-1) ...
Setting up libhtml-template-perl (2.97-1) ...
Setting up libcgi-fast-perl (1:2.13-1) ...
Setting up libhttp-message-perl (6.14-1) ...
Setting up mysql-client-5.7 (5.7.31-0ubuntu0.18.04.1) ...
Setting up mysql-server-5.7 (5.7.31-0ubuntu0.18.04.1) ...
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of stop.
update-alternatives: using /etc/mysql/mysql.cnf to provide /etc/mysql/my.cnf (my.cnf) in auto mode
Renaming removed key_buffer and myisam-recover options (if present)
Created symlink /etc/systemd/system/multi-user.target.wants/mysql.service → /lib/systemd/system/mysql.service.
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up mysql-server (5.7.31-0ubuntu0.18.04.1) ...
Processing triggers for systemd (237-3ubuntu10.42) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.2) ...
/sbin/ldconfig.real: /usr/local/lib/python3.6/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

In [ ]:
!/etc/init.d/mysql restart

 * Stopping MySQL database server mysqld
   ...done.
 * Starting MySQL database server mysqld
No directory, logging in with HOME=/
   ...done.

In [ ]:
!mysql -e 'show databases'

+--------------------+
| Database           |
+--------------------+
| information_schema |
| mysql              |
| performance_schema |
| sys                |
+--------------------+

#Get Code & Data Files

In [ ]:
!wget https://brainysoftware.com/source/9780975212820.zip

--2020-10-17 16:41:48--  https://brainysoftware.com/source/9780975212820.zip
Resolving brainysoftware.com (brainysoftware.com)... 192.241.166.210
Connecting to brainysoftware.com (brainysoftware.com)|192.241.166.210|:443... connected.
HTTP request sent, awaiting response... 200
Length: 166447 (163K) [application/zip]
Saving to: ‘9780975212820.zip’

9780975212820.zip   100%[===================>] 162.55K  --.-KB/s    in 0.1s

2020-10-17 16:41:49 (1.27 MB/s) - ‘9780975212820.zip’ saved [166447/166447]

In [ ]:
!unzip 9780975212820.zip

Archive:  9780975212820.zip
   creating: scripts/
  inflating: scripts/across_all_dimensions.sql
  inflating: scripts/across_date.sql
  inflating: scripts/across_date_customer.sql
  inflating: scripts/across_date_product.sql
  inflating: scripts/additive_data.sql
  inflating: scripts/add_campaign_session.sql
  inflating: scripts/add_four_milestones.sql
  inflating: scripts/add_sales_order_quantity.sql
  inflating: scripts/add_two_sales_orders.sql
  inflating: scripts/annual_aggregation.sql
  inflating: scripts/annual_tables.sql
  inflating: scripts/balance_across_months.sql
  inflating: scripts/balance_across_products.sql
  inflating: scripts/band_dim.sql
  inflating: scripts/band_ini.sql
  inflating: scripts/band_regular.sql
  inflating: scripts/campaign_session.sql
  inflating: scripts/campaign_session_20.sql
  inflating: scripts/campaign_session_21.sql
  inflating: scripts/campaign_session_path.sql
  inflating: scripts/campaign_stg_20.sql
  inflating: scripts/campaign_stg_21.sql
  inflating: scripts/confirm_initial_population.sql
  inflating: scripts/create_campaign_stg.sql
  inflating: scripts/create_customer_stg.sql
  inflating: scripts/create_databases.sql
  inflating: scripts/create_dw_tables.sql
  inflating: scripts/create_four_date_views.sql
  inflating: scripts/create_month_end_sales_order_fact.sql
  inflating: scripts/create_product_stg.sql
  inflating: scripts/create_promo_schedule_stg.sql
  inflating: scripts/create_sales_order.sql
  inflating: scripts/create_user_id.sql
  inflating: scripts/customer_sk.sql
  inflating: scripts/daily_aggregation.sql
  inflating: scripts/daily_date.sql
  inflating: scripts/daily_production.sql
  inflating: scripts/daily_production_23.sql
  inflating: scripts/daily_production_data.sql
  inflating: scripts/database_view.sql
  inflating: scripts/date_views.sql
  inflating: scripts/date_view_22.sql
  inflating: scripts/degenerate.sql
  inflating: scripts/dimensional_query_data.sql
  inflating: scripts/drilling.sql
  inflating: scripts/dw_initial.sql
  inflating: scripts/dw_regular.sql
  inflating: scripts/dw_regular_10.sql
  inflating: scripts/dw_regular_11.sql
  inflating: scripts/dw_regular_12.sql
  inflating: scripts/dw_regular_13.sql
  inflating: scripts/dw_regular_14.sql
  inflating: scripts/dw_regular_17.sql
  inflating: scripts/dw_regular_18.sql
  inflating: scripts/dw_regular_21.sql
  inflating: scripts/dw_regular_22.sql
  inflating: scripts/dw_regular_23.sql
  inflating: scripts/entry_date.sql
  inflating: scripts/factory_ini.sql
  inflating: scripts/factory_master.sql
  inflating: scripts/factory_master_source.sql
  inflating: scripts/factory_stg.sql
  inflating: scripts/fill_help_tables.sql
  inflating: scripts/filtered_month_end_sales_order_fact.sql
  inflating: scripts/grouping.sql
  inflating: scripts/jan_month_end_balance_regular.sql
  inflating: scripts/junk_dim.sql
  inflating: scripts/load_product_stg.sql
  inflating: scripts/loyal_customer.sql
  inflating: scripts/monthly_product_performer.sql
  inflating: scripts/monthly_storage.sql
  inflating: scripts/month_end_balance_fact.sql
  inflating: scripts/month_end_balance_initial.sql
  inflating: scripts/month_end_balance_regular.sql
  inflating: scripts/month_end_sales_order.sql
  inflating: scripts/month_end_sales_order_22.sql
  inflating: scripts/month_rollup_dim.sql
  inflating: scripts/more_customer_sk.sql
  inflating: scripts/more_sales_order.sql
  inflating: scripts/mysql_fix_privilege_tables.sql
  inflating: scripts/new_customer_credit_check.sql
  inflating: scripts/non_pa_customer.sql
  inflating: scripts/nullify_campaign_session.sql
  inflating: scripts/on_demand.sql
  inflating: scripts/order_quantity.sql
  inflating: scripts/order_status.sql
  inflating: scripts/pa_customer.sql
  inflating: scripts/pre_populate_date.sql
  inflating: scripts/pre_populate_date_12.sql
  inflating: scripts/pre_populate_date_13.sql
  inflating: scripts/production_fact_23.sql
  inflating: scripts/production_regular.sql
  inflating: scripts/production_regular_23.sql
  inflating: scripts/product_count.sql
  inflating: scripts/product_count_ini.sql
  inflating: scripts/product_launch_date_dim.sql
  inflating: scripts/promotion_indicator.sql
  inflating: scripts/push_data.sql
  inflating: scripts/push_sales_order.sql
  inflating: scripts/quarterly_mechanicsburg.sql
  inflating: scripts/quarter_path.sql
  inflating: scripts/ragged_campaign.sql
  inflating: scripts/readme 1st
  inflating: scripts/readme 1st for scripts.txt
  inflating: scripts/remove_campaign.sql
  inflating: scripts/request_delivery_date.sql
  inflating: scripts/request_delivery_date_sk.sql
  inflating: scripts/request_delivery_date_source.sql
  inflating: scripts/sales_orders_24_ini.sql
  inflating: scripts/sales_orders_24_reg.sql
  inflating: scripts/sales_orders_step3.sql
  inflating: scripts/sales_orders_step5.sql
  inflating: scripts/sales_order_17.sql
  inflating: scripts/sales_order_18.sql
  inflating: scripts/sales_order_22.sql
  inflating: scripts/sales_order_23.sql
  inflating: scripts/sales_order_attributes.sql
  inflating: scripts/sales_order_attribute_sk.sql
  inflating: scripts/sales_order_fact_23.sql
  inflating: scripts/sales_order_initial.sql
  inflating: scripts/sales_order_quantity_data.sql
  inflating: scripts/sales_order_regular.sql
  inflating: scripts/scd1.sql
  inflating: scripts/scd2.sql
  inflating: scripts/segmentation.sql
  inflating: scripts/shipping_address.sql
  inflating: scripts/source_date.sql
  inflating: scripts/special_dates.sql
  inflating: scripts/table_alias.sql
  inflating: scripts/third_star_tables.sql
  inflating: scripts/track_launch_expiry.sql
  inflating: scripts/truncate_tables.sql
  inflating: scripts/two_more_customers.sql
  inflating: scripts/zip_code_dim.sql
  inflating: scripts/zip_code_population.sql
  inflating: scripts/zip_code_stg.sql
   creating: source_data/
  inflating: source_data/campaign_session.csv
  inflating: source_data/customer10.csv
  inflating: source_data/customer2.csv
  inflating: source_data/customer23.csv
  inflating: source_data/customer8.csv
  inflating: source_data/factory19.csv
  inflating: source_data/factory23.csv
  inflating: source_data/non_straight_campaign.csv
  inflating: source_data/product2-1.txt
  inflating: source_data/product2-2.txt
  inflating: source_data/product21.txt
  inflating: source_data/product8.txt
  inflating: source_data/promo_schedule.csv
  inflating: source_data/ragged_campaign.csv
  inflating: source_data/readme 1st for data.txt
  inflating: source_data/zip_code.csv

#Part 1 - Fundamentals

## Chapter 1 Initial Setup

In [ ]:
#Create User ID
#!cat scripts/create_user_id.sql
!mysql < scripts/create_user_id.sql

### Creating the Databases
There are two databases you need to create, source and dw. The source database stores your data, namely the data that will be the source of your data warehouse. The dw database is for the data warehouse.

In [ ]:
#!cat scripts/create_databases.sql
!mysql -udwid -ppw < scripts/create_databases.sql

mysql: [Warning] Using a password on the command line interface can be insecure.

In [ ]:
!mysql dw -e "show databases like 'dw'"

+---------------+
| Database (dw) |
+---------------+
| dw            |
+---------------+

In [ ]:
!mysql dw -e "show databases like 'source';"

+-------------------+
| Database (source) |
+-------------------+
| source            |
+-------------------+

### Creating Data Warehouse Tables
The next step is to create data warehouse tables in the dw database. You can use the create_dw_tables.sql script

In [ ]:
#!cat scripts/create_dw_tables.sql
!mysql -udwid -ppw < scripts/create_dw_tables.sql

mysql: [Warning] Using a password on the command line interface can be insecure.

In [ ]:
!mysql dw -e "show tables"

+------------------+
| Tables_in_dw     |
+------------------+
| customer_dim     |
| date_dim         |
| order_dim        |
| product_dim      |
| sales_order_fact |
+------------------+

### Generating Surrogate Keys
Generate surrogate keys using the customer_sk.sql script

In [ ]:
!mysql -udwid -ppw < scripts/customer_sk.sql

mysql: [Warning] Using a password on the command line interface can be insecure.

### Populating the customer_dim dimension table with data

In [ ]:
!mysql -udwid -ppw < scripts/more_customer_sk.sql

mysql: [Warning] Using a password on the command line interface can be insecure.

In [ ]:
!mysql dw -e "select * from customer_dim"

+-------------+-----------------+------------------+-------------------------+-------------------+---------------+----------------+----------------+-------------+
| customer_sk | customer_number | customer_name    | customer_street_address | customer_zip_code | customer_city | customer_state | effective_date | expiry_date |
+-------------+-----------------+------------------+-------------------------+-------------------+---------------+----------------+----------------+-------------+
|           1 |               1 | Big Customers    | 7500 Louise Dr.         |             17050 | Mechanicsburg | PA             | 2020-10-17     | 9999-12-31  |
|           2 |               2 | Small Stores     | 2500 Woodland St.       |             17055 | Pittsburgh    | PA             | 2020-10-17     | 9999-12-31  |
|           3 |               3 | Medium Retailers | 1111 Ritter Rd.         |             17055 | Pittsburgh    | PA             | 2020-10-17     | 9999-12-31  |
|           4 |               4 | Good Companies   | 9500 Scott St.          |             17050 | Mechanicsburg | PA             | 2020-10-17     | 9999-12-31  |
|           5 |               5 | Wonderful Shops  | 3333 Rossmoyne Rd.      |             17050 | Mechanicsburg | PA             | 2020-10-17     | 9999-12-31  |
|           6 |               6 | Loyal Clients    | 7070 Ritter Rd.         |             17055 | Pittsburgh    | PA             | 2020-10-17     | 9999-12-31  |
+-------------+-----------------+------------------+-------------------------+-------------------+---------------+----------------+----------------+-------------+

CURRENT_DATE function used in the customer_sk.sql script uses the operating system date to populate the effective_date column. Therefore we have to update MySQL date by updating the date to the specified date.

In [ ]:
#since it was not possible to set the system date on Colab, the date was changed manually
!mysql dw -e "update customer_dim set effective_date = '2007-02-01' "

In [ ]:
!mysql dw -e "select * from customer_dim"

+-------------+-----------------+------------------+-------------------------+-------------------+---------------+----------------+----------------+-------------+
| customer_sk | customer_number | customer_name    | customer_street_address | customer_zip_code | customer_city | customer_state | effective_date | expiry_date |
+-------------+-----------------+------------------+-------------------------+-------------------+---------------+----------------+----------------+-------------+
|           1 |               1 | Big Customers    | 7500 Louise Dr.         |             17050 | Mechanicsburg | PA             | 2007-02-01     | 9999-12-31  |
|           2 |               2 | Small Stores     | 2500 Woodland St.       |             17055 | Pittsburgh    | PA             | 2007-02-01     | 9999-12-31  |
|           3 |               3 | Medium Retailers | 1111 Ritter Rd.         |             17055 | Pittsburgh    | PA             | 2007-02-01     | 9999-12-31  |
|           4 |               4 | Good Companies   | 9500 Scott St.          |             17050 | Mechanicsburg | PA             | 2007-02-01     | 9999-12-31  |
|           5 |               5 | Wonderful Shops  | 3333 Rossmoyne Rd.      |             17050 | Mechanicsburg | PA             | 2007-02-01     | 9999-12-31  |
|           6 |               6 | Loyal Clients    | 7070 Ritter Rd.         |             17055 | Pittsburgh    | PA             | 2007-02-01     | 9999-12-31  |
+-------------+-----------------+------------------+-------------------------+-------------------+---------------+----------------+----------------+-------------+

In [ ]:
!mysql dw -e "CREATE TABLE customer_stg \
(customer_number INT, customer_name CHAR (30), customer_street_address CHAR (30), customer_zip_code INT (5), customer_city CHAR (30), customer_state CHAR (2))"

In [ ]:
!mysql dw -e "show tables"

+------------------+
| Tables_in_dw     |
+------------------+
| customer_dim     |
| customer_stg     |
| date_dim         |
| order_dim        |
| product_dim      |
| sales_order_fact |
+------------------+

In [ ]:
!mysql dw -e "TRUNCATE customer_stg"

In [ ]:
!mysql dw -e 'LOAD DATA LOCAL INFILE "source_data/customer2.csv " \
INTO TABLE customer_stg \
FIELDS TERMINATED BY "," \
OPTIONALLY ENCLOSED BY "" \
LINES TERMINATED BY "\r\n" \
IGNORE 1 LINES \
( customer_number \
, customer_name \
, customer_street_address \
, customer_zip_code \
, customer_city \
, customer_state )'

In [ ]:
!mysql dw -e  ' desc customer_stg'

+-------------------------+----------+------+-----+---------+-------+
| Field                   | Type     | Null | Key | Default | Extra |
+-------------------------+----------+------+-----+---------+-------+
| customer_number         | int(11)  | YES  |     | NULL    |       |
| customer_name           | char(30) | YES  |     | NULL    |       |
| customer_street_address | char(30) | YES  |     | NULL    |       |
| customer_zip_code       | int(5)   | YES  |     | NULL    |       |
| customer_city           | char(30) | YES  |     | NULL    |       |
| customer_state          | char(2)  | YES  |     | NULL    |       |
+-------------------------+----------+------+-----+---------+-------+

## Chapter 2: Dimension History

The data values stored in a dimension table are called dimensions. The product_dim table in Chapter 1, for example, contains product dimensions.

Most dimensions change over time. Customers change addresses, products get renamed and recategorized, sales orders get corrected, etc. When a dimension changes, such as when a product gets a new category, we must maintain the dimension history. 

Slowly Changing Dimension (SCD) is the technique for implementing dimension history in a dimensional data warehouse

###Slowly Changing Dimension Techniques

There are three variants of the SCD technique: SCD Type 1 (SCD1), SCD Type 2 (SCD2), and SCD Type 3 (SCD3). 

SCD1 updates dimension records by overwriting the existing data-no history of the records is maintained. SCD1 is normally used to directly rectify incorrect data.

SCD2 maintains dimension history by creating newer ‘versions’ of a dimension record whenever its source changes. SCD2 does not delete or modify existing data. 

SCD3 keeps one version of a dimension record. It keeps history by allocating more than one column for a data unit to maintain its history.

In [ ]:
!mysql dw -e "select * from customer_stg"

+-----------------+------------------------+-------------------------+-------------------+---------------+----------------+
| customer_number | customer_name          | customer_street_address | customer_zip_code | customer_city | customer_state |
+-----------------+------------------------+-------------------------+-------------------+---------------+----------------+
|               1 | Really Large Customers | 7500 Louise Dr.         |             17050 | Mechanicsburg | PA             |
|               2 | Small Stores           | 2500 Woodland St.       |             17055 | Pittsburgh    | PA             |
|               3 | Medium Retailers       | 1111 Ritter Rd.         |             17055 | Pittsburgh    | PA             |
|               4 | Good Companies         | 9500 Scott St.          |             17050 | Mechanicsburg | PA             |
|               5 | Wonderful Shops        | 3333 Rossmoyne Rd.      |             17050 | Mechanicsburg | PA             |
|               6 | Loyal Clients          | 7070 Ritter Rd.         |             17055 | Pittsburgh    | PA             |
|               7 | Distinguished Partners | 9999 Scott St.          |             17050 | Mechanicsburg | PA             |
+-----------------+------------------------+-------------------------+-------------------+---------------+----------------+

In [ ]:
!mysql dw -e 'select * from customer_dim'

+-------------+-----------------+------------------+-------------------------+-------------------+---------------+----------------+----------------+-------------+
| customer_sk | customer_number | customer_name    | customer_street_address | customer_zip_code | customer_city | customer_state | effective_date | expiry_date |
+-------------+-----------------+------------------+-------------------------+-------------------+---------------+----------------+----------------+-------------+
|           1 |               1 | Big Customers    | 7500 Louise Dr.         |             17050 | Mechanicsburg | PA             | 2007-02-01     | 9999-12-31  |
|           2 |               2 | Small Stores     | 2500 Woodland St.       |             17055 | Pittsburgh    | PA             | 2007-02-01     | 9999-12-31  |
|           3 |               3 | Medium Retailers | 1111 Ritter Rd.         |             17055 | Pittsburgh    | PA             | 2007-02-01     | 9999-12-31  |
|           4 |               4 | Good Companies   | 9500 Scott St.          |             17050 | Mechanicsburg | PA             | 2007-02-01     | 9999-12-31  |
|           5 |               5 | Wonderful Shops  | 3333 Rossmoyne Rd.      |             17050 | Mechanicsburg | PA             | 2007-02-01     | 9999-12-31  |
|           6 |               6 | Loyal Clients    | 7070 Ritter Rd.         |             17055 | Pittsburgh    | PA             | 2007-02-01     | 9999-12-31  |
+-------------+-----------------+------------------+-------------------------+-------------------+---------------+----------------+----------------+-------------+

In [ ]:
#updating the name of existing customer
!mysql dw -e 'UPDATE customer_dim a, customer_stg b SET a.customer_name = b.customer_name \
WHERE a.customer_number = b.customer_number \
AND a.expiry_date = "9999-12-31" \
AND a.customer_name <> b.customer_name'

In [ ]:
!mysql dw -e 'select * from customer_dim'

+-------------+-----------------+------------------------+-------------------------+-------------------+---------------+----------------+----------------+-------------+
| customer_sk | customer_number | customer_name          | customer_street_address | customer_zip_code | customer_city | customer_state | effective_date | expiry_date |
+-------------+-----------------+------------------------+-------------------------+-------------------+---------------+----------------+----------------+-------------+
|           1 |               1 | Really Large Customers | 7500 Louise Dr.         |             17050 | Mechanicsburg | PA             | 2007-02-01     | 9999-12-31  |
|           2 |               2 | Small Stores           | 2500 Woodland St.       |             17055 | Pittsburgh    | PA             | 2007-02-01     | 9999-12-31  |
|           3 |               3 | Medium Retailers       | 1111 Ritter Rd.         |             17055 | Pittsburgh    | PA             | 2007-02-01     | 9999-12-31  |
|           4 |               4 | Good Companies         | 9500 Scott St.          |             17050 | Mechanicsburg | PA             | 2007-02-01     | 9999-12-31  |
|           5 |               5 | Wonderful Shops        | 3333 Rossmoyne Rd.      |             17050 | Mechanicsburg | PA             | 2007-02-01     | 9999-12-31  |
|           6 |               6 | Loyal Clients          | 7070 Ritter Rd.         |             17055 | Pittsburgh    | PA             | 2007-02-01     | 9999-12-31  |
+-------------+-----------------+------------------------+-------------------------+-------------------+---------------+----------------+----------------+-------------+

**It can be seen that the name has been updated in the Dimension Table without saving the History or record of previous name of Customer**

### SCD2

In [ ]:
 !mysql dw -e 'CREATE TABLE product_stg (product_code INT,product_name CHAR(30),product_category CHAR(30))'

In [ ]:
!mysql dw -e 'show tables'

+------------------+
| Tables_in_dw     |
+------------------+
| customer_dim     |
| customer_stg     |
| date_dim         |
| order_dim        |
| product_dim      |
| product_stg      |
| sales_order_fact |
+------------------+

In [ ]:
!mysql dw -e "TRUNCATE product_stg"

In [ ]:
!mysql dw -e 'LOAD DATA LOCAL INFILE "source_data/product2-1.txt " \
INTO TABLE product_stg \
FIELDS TERMINATED BY "" \
OPTIONALLY ENCLOSED BY "" \
LINES TERMINATED BY "\r\n" \
IGNORE 1 LINES \
( product_code \
, product_name \
, product_category )'

In [ ]:
 # Viewing data in product staging table
 !mysql dw -e 'select * from product_stg'

+--------------+--------------+------------------+
| product_code | product_name | product_category |
+--------------+--------------+------------------+
|            1 | Hard Disk    | Storage          |
|            2 | Floppy Drive | Storage          |
+--------------+--------------+------------------+

In [ ]:
 # Description of product dim table
 !mysql dw -e 'desc product_dim'

+------------------+----------+------+-----+---------+----------------+
| Field            | Type     | Null | Key | Default | Extra          |
+------------------+----------+------+-----+---------+----------------+
| product_sk       | int(11)  | NO   | PRI | NULL    | auto_increment |
| product_code     | int(11)  | YES  |     | NULL    |                |
| product_name     | char(30) | YES  |     | NULL    |                |
| product_category | char(30) | YES  |     | NULL    |                |
| effective_date   | date     | YES  |     | NULL    |                |
| expiry_date      | date     | YES  |     | NULL    |                |
+------------------+----------+------+-----+---------+----------------+

In [ ]:
 #Checking for data in product_dim table 
 !mysql dw -e 'Select * from product_dim'

In [ ]:
# Adding data in product_dim table
!mysql -udwid -ppw <scripts/scd2.sql

mysql: [Warning] Using a password on the command line interface can be insecure.

In [ ]:
!mysql dw -e 'select * from product_dim'

+------------+--------------+--------------+------------------+----------------+-------------+
| product_sk | product_code | product_name | product_category | effective_date | expiry_date |
+------------+--------------+--------------+------------------+----------------+-------------+
|          1 |            1 | Hard Disk    | Storage          | 2020-10-17     | 9999-12-31  |
|          2 |            2 | Floppy Drive | Storage          | 2020-10-17     | 9999-12-31  |
+------------+--------------+--------------+------------------+----------------+-------------+

In [ ]:
# updating date since it cant be updated automatically  in product_dim
!mysql dw -e 'update product_dim set effective_date = "2007-02-03" '

In [ ]:
!mysql dw -e 'select * from product_dim'

+------------+--------------+--------------+------------------+----------------+-------------+
| product_sk | product_code | product_name | product_category | effective_date | expiry_date |
+------------+--------------+--------------+------------------+----------------+-------------+
|          1 |            1 | Hard Disk    | Storage          | 2007-02-03     | 9999-12-31  |
|          2 |            2 | Floppy Drive | Storage          | 2007-02-03     | 9999-12-31  |
+------------+--------------+--------------+------------------+----------------+-------------+

In [ ]:
!mysql dw -e "TRUNCATE product_stg"

In [ ]:
!mysql dw -e "select * from product_stg"

It can be seen that Now no data is present in product staging table

In [ ]:
!mysql dw -e 'LOAD DATA LOCAL INFILE "source_data/product2-2.txt " \
INTO TABLE product_stg \
FIELDS TERMINATED BY "" \
OPTIONALLY ENCLOSED BY "" \
LINES TERMINATED BY "\r\n" \
IGNORE 1 LINES \
( product_code \
, product_name \
, product_category )'

In [ ]:
 # Viewing data in product staging table
 !mysql dw -e 'select * from product_stg'

+--------------+-----------------+------------------+
| product_code | product_name    | product_category |
+--------------+-----------------+------------------+
|            1 | Hard Disk Drive | Storage          |
|            2 | Floppy Drive    | Storage          |
|            3 | LCD Panel       | Monitor          |
+--------------+-----------------+------------------+

In [ ]:
!mysql -udwid -ppw <scripts/scd2.sql

mysql: [Warning] Using a password on the command line interface can be insecure.

In [ ]:
!mysql dw -e 'select * from product_dim'

+------------+--------------+-----------------+------------------+----------------+-------------+
| product_sk | product_code | product_name    | product_category | effective_date | expiry_date |
+------------+--------------+-----------------+------------------+----------------+-------------+
|          1 |            1 | Hard Disk       | Storage          | 2007-02-03     | 2020-10-16  |
|          2 |            2 | Floppy Drive    | Storage          | 2007-02-03     | 9999-12-31  |
|          4 |            1 | Hard Disk Drive | Storage          | 2020-10-17     | 9999-12-31  |
|          5 |            3 | LCD Panel       | Monitor          | 2020-10-17     | 9999-12-31  |
+------------+--------------+-----------------+------------------+----------------+-------------+

In [ ]:
!mysql dw -e 'update product_dim set expiry_date ="2007-02-04" where product_name ="Hard Disk" '

In [ ]:
!mysql dw -e 'select * from product_dim'

+------------+--------------+-----------------+------------------+----------------+-------------+
| product_sk | product_code | product_name    | product_category | effective_date | expiry_date |
+------------+--------------+-----------------+------------------+----------------+-------------+
|          1 |            1 | Hard Disk       | Storage          | 2007-02-03     | 2007-02-04  |
|          2 |            2 | Floppy Drive    | Storage          | 2007-02-03     | 9999-12-31  |
|          4 |            1 | Hard Disk Drive | Storage          | 2020-10-17     | 9999-12-31  |
|          5 |            3 | LCD Panel       | Monitor          | 2020-10-17     | 9999-12-31  |
+------------+--------------+-----------------+------------------+----------------+-------------+

In [ ]:
!mysql dw -e 'update product_dim set product_sk =3, effective_date ="2007-02-05" where product_name ="Hard Disk Drive" '

In [ ]:
!mysql dw -e 'select * from product_dim'

+------------+--------------+-----------------+------------------+----------------+-------------+
| product_sk | product_code | product_name    | product_category | effective_date | expiry_date |
+------------+--------------+-----------------+------------------+----------------+-------------+
|          1 |            1 | Hard Disk       | Storage          | 2007-02-03     | 2007-02-04  |
|          2 |            2 | Floppy Drive    | Storage          | 2007-02-03     | 9999-12-31  |
|          3 |            1 | Hard Disk Drive | Storage          | 2007-02-05     | 9999-12-31  |
|          5 |            3 | LCD Panel       | Monitor          | 2020-10-17     | 9999-12-31  |
+------------+--------------+-----------------+------------------+----------------+-------------+

In [ ]:
!mysql dw -e 'update product_dim set product_sk =4, effective_date ="2007-02-05" where product_name ="LCD Panel" '

In [ ]:
!mysql dw -e 'select * from product_dim'

+------------+--------------+-----------------+------------------+----------------+-------------+
| product_sk | product_code | product_name    | product_category | effective_date | expiry_date |
+------------+--------------+-----------------+------------------+----------------+-------------+
|          1 |            1 | Hard Disk       | Storage          | 2007-02-03     | 2007-02-04  |
|          2 |            2 | Floppy Drive    | Storage          | 2007-02-03     | 9999-12-31  |
|          3 |            1 | Hard Disk Drive | Storage          | 2007-02-05     | 9999-12-31  |
|          4 |            3 | LCD Panel       | Monitor          | 2007-02-05     | 9999-12-31  |
+------------+--------------+-----------------+------------------+----------------+-------------+

## Chapter 3: Measure Additivity
A measure always has numeric values. One of the most important characteristics of a fact table pertaining to measures is measure additivity. With regard to additivity, a measure may be fully-additive or semi-additive. If you can sum the values of a measure in all situations, the measure is fully-additive. If you can only add up its values in some situations, it is semi-additive. Understanding measure additivity is key to selecting a data item as a measure in a fact table. The order_amount measure in the sales_order_fact table, for example, is fully-additive because you can correctly add up this measure across any one and all of its dimensions. This means, you can correctly sum the order_amount measure in your sales_order_fact table any time, for any product, any customer, and any order.

**Fully-Additive Measures**

A measure is fully additive if the total of its individual values across any one dimension is the same as the total across any other dimension and across any combination of some or all dimensions

In [ ]:
!mysql -udwid -ppw <scripts/additive_data.sql

mysql: [Warning] Using a password on the command line interface can be insecure.

In [ ]:
!mysql dw -e 'select * from order_dim'

+----------+--------------+----------------+-------------+
| order_sk | order_number | effective_date | expiry_date |
+----------+--------------+----------------+-------------+
|        1 |            1 | 2020-10-17     | 9999-12-31  |
|        2 |            2 | 2020-10-17     | 9999-12-31  |
|        3 |            3 | 2020-10-17     | 9999-12-31  |
|        4 |            4 | 2020-10-17     | 9999-12-31  |
|        5 |            5 | 2020-10-17     | 9999-12-31  |
|        6 |            6 | 2020-10-17     | 9999-12-31  |
|        7 |            7 | 2020-10-17     | 9999-12-31  |
|        8 |            8 | 2020-10-17     | 9999-12-31  |
|        9 |            9 | 2020-10-17     | 9999-12-31  |
|       10 |           10 | 2020-10-17     | 9999-12-31  |
+----------+--------------+----------------+-------------+

In [ ]:
!mysql dw -e 'update order_dim set effective_date ="2007-02-05" where order_sk in (1,2,3,4,5,6,7,8,9,10) '

In [ ]:
!mysql dw -e 'select * from order_dim'

+----------+--------------+----------------+-------------+
| order_sk | order_number | effective_date | expiry_date |
+----------+--------------+----------------+-------------+
|        1 |            1 | 2007-02-05     | 9999-12-31  |
|        2 |            2 | 2007-02-05     | 9999-12-31  |
|        3 |            3 | 2007-02-05     | 9999-12-31  |
|        4 |            4 | 2007-02-05     | 9999-12-31  |
|        5 |            5 | 2007-02-05     | 9999-12-31  |
|        6 |            6 | 2007-02-05     | 9999-12-31  |
|        7 |            7 | 2007-02-05     | 9999-12-31  |
|        8 |            8 | 2007-02-05     | 9999-12-31  |
|        9 |            9 | 2007-02-05     | 9999-12-31  |
|       10 |           10 | 2007-02-05     | 9999-12-31  |
+----------+--------------+----------------+-------------+

In [ ]:
!mysql dw -e 'update date_dim set effective_date ="2007-02-05"'

In [ ]:
!mysql dw -e 'select * from date_dim'

+---------+------------+------------+-------+---------+------+----------------+-------------+
| date_sk | date       | month_name | month | quarter | year | effective_date | expiry_date |
+---------+------------+------------+-------+---------+------+----------------+-------------+
|       1 | 2005-10-31 | October    |    10 |       4 | 2005 | 2007-02-05     | 9999-12-31  |
+---------+------------+------------+-------+---------+------+----------------+-------------+

In [ ]:
!mysql dw -e 'select * from sales_order_fact'

+----------+-------------+------------+---------------+--------------+
| order_sk | customer_sk | product_sk | order_date_sk | order_amount |
+----------+-------------+------------+---------------+--------------+
|        1 |           1 |          2 |             1 |      1000.00 |
|        2 |           2 |          3 |             1 |      1000.00 |
|        3 |           3 |          4 |             1 |      4000.00 |
|        4 |           4 |          2 |             1 |      4000.00 |
|        5 |           5 |          3 |             1 |      6000.00 |
|        6 |           1 |          4 |             1 |      6000.00 |
|        7 |           2 |          2 |             1 |      8000.00 |
|        8 |           3 |          3 |             1 |      8000.00 |
|        9 |           4 |          4 |             1 |     10000.00 |
|       10 |           5 |          2 |             1 |     10000.00 |
+----------+-------------+------------+---------------+--------------+

#### Aggregate Queries
SUMMING ORDER AMOUNT FROM SALES_ORDER_FACT ACROSS ALL DIMENSIONS

In [ ]:
!mysql -udwid -ppw <scripts/across_all_dimensions.sql

mysql: [Warning] Using a password on the command line interface can be insecure.
sum_of_order_amount
58000.00

QUERYING AGAINST DATE PRODUCT AND ORDER DIMENSION

In [ ]:

!mysql -udwid -ppw <scripts/across_date_product.sql

mysql: [Warning] Using a password on the command line interface can be insecure.
customer_number	sum_of_order_amount
1	7000.00
2	9000.00
3	12000.00
4	14000.00
5	16000.00

In [ ]:
!mysql dw -e 'SELECT customer_number, SUM(order_amount) sum_of_order_amount \
FROM sales_order_fact a , customer_dim b WHERE a.customer_sk = b.customer_sk GROUP BY customer_number'

+-----------------+---------------------+
| customer_number | sum_of_order_amount |
+-----------------+---------------------+
|               1 |             7000.00 |
|               2 |             9000.00 |
|               3 |            12000.00 |
|               4 |            14000.00 |
|               5 |            16000.00 |
+-----------------+---------------------+

QUERYING AGAINST DATE CUSTOMER AND ORDER DIMENSION

In [ ]:
!mysql dw -e 'SELECT product_code, SUM(order_amount) sum_of_order_amount \
FROM sales_order_fact a , product_dim b WHERE a.product_sk = b.product_sk GROUP BY product_code'

+--------------+---------------------+
| product_code | sum_of_order_amount |
+--------------+---------------------+
|            1 |            15000.00 |
|            2 |            23000.00 |
|            3 |            20000.00 |
+--------------+---------------------+

QUERYING AGAINST DATE AND ORDER DIMENSION

In [ ]:
!mysql dw -e'SELECT customer_number, product_code, SUM(order_amount) sum_of_order_amount \
FROM sales_order_fact a , customer_dim b , product_dim c \
WHERE a.customer_sk = b.customer_sk AND a.product_sk = c.product_sk GROUP BY customer_number , product_code'

+-----------------+--------------+---------------------+
| customer_number | product_code | sum_of_order_amount |
+-----------------+--------------+---------------------+
|               1 |            2 |             1000.00 |
|               1 |            3 |             6000.00 |
|               2 |            1 |             1000.00 |
|               2 |            2 |             8000.00 |
|               3 |            1 |             8000.00 |
|               3 |            3 |             4000.00 |
|               4 |            2 |             4000.00 |
|               4 |            3 |            10000.00 |
|               5 |            1 |             6000.00 |
|               5 |            2 |            10000.00 |
+-----------------+--------------+---------------------+

## Chapter 4: Dimensional Queries
A dimensional query is a query in a dimensional data warehouse that joins the fact table and the dimension tables on one or more surrogate keys. 


**Applying Dimensional Queries**

In [ ]:
!mysql -udwid -ppw <scripts/dimensional_query_data.sql

mysql: [Warning] Using a password on the command line interface can be insecure.

In [ ]:
!mysql dw -e 'select * from order_dim'

+----------+--------------+----------------+-------------+
| order_sk | order_number | effective_date | expiry_date |
+----------+--------------+----------------+-------------+
|        1 |            1 | 2007-02-05     | 9999-12-31  |
|        2 |            2 | 2007-02-05     | 9999-12-31  |
|        3 |            3 | 2007-02-05     | 9999-12-31  |
|        4 |            4 | 2007-02-05     | 9999-12-31  |
|        5 |            5 | 2007-02-05     | 9999-12-31  |
|        6 |            6 | 2007-02-05     | 9999-12-31  |
|        7 |            7 | 2007-02-05     | 9999-12-31  |
|        8 |            8 | 2007-02-05     | 9999-12-31  |
|        9 |            9 | 2007-02-05     | 9999-12-31  |
|       10 |           10 | 2007-02-05     | 9999-12-31  |
|       11 |           11 | 2020-10-17     | 9999-12-31  |
|       12 |           12 | 2020-10-17     | 9999-12-31  |
|       13 |           13 | 2020-10-17     | 9999-12-31  |
|       14 |           14 | 2020-10-17     | 9999-12-31  |
|       15 |           15 | 2020-10-17     | 9999-12-31  |
|       16 |           16 | 2020-10-17     | 9999-12-31  |
+----------+--------------+----------------+-------------+

In [ ]:
# changing the effective date to "2007-02-06" for newly added orders
!mysql dw -e 'update order_dim set effective_date ="2007-02-06" where order_sk in (11,12,13,14,15,16) '

In [ ]:
!mysql dw -e 'select * from order_dim'

+----------+--------------+----------------+-------------+
| order_sk | order_number | effective_date | expiry_date |
+----------+--------------+----------------+-------------+
|        1 |            1 | 2007-02-05     | 9999-12-31  |
|        2 |            2 | 2007-02-05     | 9999-12-31  |
|        3 |            3 | 2007-02-05     | 9999-12-31  |
|        4 |            4 | 2007-02-05     | 9999-12-31  |
|        5 |            5 | 2007-02-05     | 9999-12-31  |
|        6 |            6 | 2007-02-05     | 9999-12-31  |
|        7 |            7 | 2007-02-05     | 9999-12-31  |
|        8 |            8 | 2007-02-05     | 9999-12-31  |
|        9 |            9 | 2007-02-05     | 9999-12-31  |
|       10 |           10 | 2007-02-05     | 9999-12-31  |
|       11 |           11 | 2007-02-06     | 9999-12-31  |
|       12 |           12 | 2007-02-06     | 9999-12-31  |
|       13 |           13 | 2007-02-06     | 9999-12-31  |
|       14 |           14 | 2007-02-06     | 9999-12-31  |
|       15 |           15 | 2007-02-06     | 9999-12-31  |
|       16 |           16 | 2007-02-06     | 9999-12-31  |
+----------+--------------+----------------+-------------+

In [ ]:
!mysql dw -e 'select * from date_dim'

+---------+------------+------------+-------+---------+------+----------------+-------------+
| date_sk | date       | month_name | month | quarter | year | effective_date | expiry_date |
+---------+------------+------------+-------+---------+------+----------------+-------------+
|       1 | 2005-10-31 | October    |    10 |       4 | 2005 | 2007-02-05     | 9999-12-31  |
|       2 | 2005-11-01 | November   |    11 |       4 | 2005 | 2020-10-17     | 9999-12-31  |
+---------+------------+------------+-------+---------+------+----------------+-------------+

In [ ]:
!mysql dw -e 'update date_dim set effective_date ="2007-02-05"'

In [ ]:
!mysql dw -e 'select * from date_dim'

+---------+------------+------------+-------+---------+------+----------------+-------------+
| date_sk | date       | month_name | month | quarter | year | effective_date | expiry_date |
+---------+------------+------------+-------+---------+------+----------------+-------------+
|       1 | 2005-10-31 | October    |    10 |       4 | 2005 | 2007-02-05     | 9999-12-31  |
|       2 | 2005-11-01 | November   |    11 |       4 | 2005 | 2007-02-05     | 9999-12-31  |
+---------+------------+------------+-------+---------+------+----------------+-------------+

In [ ]:
!mysql dw -e 'select * from sales_order_fact'

+----------+-------------+------------+---------------+--------------+
| order_sk | customer_sk | product_sk | order_date_sk | order_amount |
+----------+-------------+------------+---------------+--------------+
|        1 |           1 |          2 |             1 |      1000.00 |
|        2 |           2 |          3 |             1 |      1000.00 |
|        3 |           3 |          4 |             1 |      4000.00 |
|        4 |           4 |          2 |             1 |      4000.00 |
|        5 |           5 |          3 |             1 |      6000.00 |
|        6 |           1 |          4 |             1 |      6000.00 |
|        7 |           2 |          2 |             1 |      8000.00 |
|        8 |           3 |          3 |             1 |      8000.00 |
|        9 |           4 |          4 |             1 |     10000.00 |
|       10 |           5 |          2 |             1 |     10000.00 |
|       11 |           1 |          2 |             2 |     20000.00 |
|       12 |           2 |          3 |             2 |     25000.00 |
|       13 |           3 |          4 |             2 |     30000.00 |
|       14 |           4 |          2 |             2 |     35000.00 |
|       15 |           5 |          3 |             2 |     40000.00 |
|       16 |           1 |          4 |             2 |     45000.00 |
+----------+-------------+------------+---------------+--------------+

### Aggregate Queries
#### Daily Sales Aggregation

In [ ]:
!mysql dw  <scripts/daily_aggregation.sql

date	SUM(order_amount)	COUNT(*)
2005-10-31	58000.00	10
2005-11-01	195000.00	6

#### Annual Aggregation

In [ ]:
!mysql dw  <scripts/annual_aggregation.sql

year	product_name	customer_city	SUM(order_amount)	COUNT(*)
2005	Floppy Drive	Mechanicsburg	70000.00	5
2005	Floppy Drive	Pittsburgh	8000.00	1
2005	Hard Disk Drive	Mechanicsburg	46000.00	2
2005	Hard Disk Drive	Pittsburgh	34000.00	3
2005	LCD Panel	Mechanicsburg	61000.00	3
2005	LCD Panel	Pittsburgh	34000.00	2

### Specific Queries

A specific query selects and aggregates the facts on a specific dimension value. 

#### Monthly Storage Product Sales

In [ ]:
!mysql dw  <scripts/monthly_storage.sql

product_name	month_name	year	SUM(order_amount)	COUNT(*)
Floppy Drive	November	2005	55000.00	2
Hard Disk Drive	November	2005	65000.00	2
Hard Disk Drive	October	2005	15000.00	3
Floppy Drive	October	2005	23000.00	4

#### Quarterly Sales in Mechanisburg

In [ ]:
!mysql dw  <scripts/quarterly_mechanicsburg.sql

customer_city	quarter	year	SUM(order_amount)	COUNT(order_sk)
Mechanicsburg	4	2005	177000.00	10

###Inside-Out Queries
### Product Performer
This query gives the sales orders of products that have a monthly sales amount of 75,000 or more

In [ ]:
#Find sales orders of products that have a monthly sales amount of 75,000 or more
!mysql dw <scripts/monthly_product_performer.sql

ERROR 1055 (42000) at line 9: Expression #1 of ORDER BY clause is not in GROUP BY clause and contains nonaggregated column 'dw.c.month' which is not functionally dependent on columns in GROUP BY clause; this is incompatible with sql_mode=only_full_group_by

In [ ]:
!mysql dw -e 'SELECT month_name, year, product_name,\
 SUM(order_amount), COUNT(*) FROM sales_order_fact a \
  , product_dim b , date_dim c WHERE a.product_sk = b.product_sk \
  AND a.order_date_sk = c.date_sk GROUP BY month_name , year , product_name HAVING SUM(order_amount) >= 75000 ORDER BY month_name , year , product_name'

+------------+------+--------------+-------------------+----------+
| month_name | year | product_name | SUM(order_amount) | COUNT(*) |
+------------+------+--------------+-------------------+----------+
| November   | 2005 | LCD Panel    |          75000.00 |        2 |
+------------+------+--------------+-------------------+----------+

### Loyal Customer
It gives the customer(s) that placed more than five orders annually in the past eighteen months

In [ ]:
!mysql dw <scripts/loyal_customer.sql

customer_number	year	COUNT(*)
1	2005	4